@model OrderingPizza.Models.Pizza.PizzaModel

@{
    ViewBag.Title = "Create your Pizza!";
    var tomatoName = Model.tomato.name;
    var mozzarellaName = Model.mozzarella.name;
    var PizzaModelId = Model.PizzaModelID;
}

<h1>@ViewBag.Title</h1>

@if(Model.tomato.quantity != true)
{
    using (Html.BeginForm("AddTomato", "Pizza", new { PizzaModelId = Model.PizzaModelID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.tomato.name, new { @class = "col-md-2 control-label" })
            <div>
                <input type="submit" class="btn btn-primary pull-right" value=Add />
            </div>
        </div>
    }
}

@if (Model.mozzarella.quantity != true)
{
    using (Html.BeginForm("AddMozzarella", "Pizza", new { PizzaModelId = Model.PizzaModelID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.mozzarella.name, new { @class = "col-md-2 control-label" })
            <div>
                <input type="submit" class="btn btn-primary pull-right" value="Add" />
            </div>
        </div>
    }
}

@using (Html.BeginForm("Add", "Pizza", new { PizzaModelId = Model.PizzaModelID }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <p>Order your pizza</p>
        <div>
            <input type="submit" class="btn btn-primary pull-right" value="Add" />
        </div>
    </div>
}