@model OrderingPizza.Models.Pizza.PizzaOrderModel

@{
    ViewBag.Title = "Choose your pizza";
}

<h2>@ViewBag.Title</h2>

<p>@Model.Name</p>

@using (Html.BeginForm("Order", "Pizza", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.PizzaId)
        <div class="form-group">
        @Html.LabelFor(m => m.Name1, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name1, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cost1, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cost1, new {@class = "form-control"})
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Name2, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name2, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cost2, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cost2, new {@class = "form-control"})
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Name3, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name3, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cost3, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cost3, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary pull-right" value="Add" />
        </div>
    </div>
}