@model lostsocks.Models.Socks.SockModel

@{
    ViewBag.Title = "Delete the sock";

   // var imageSrc = string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Image));
}
<p></p>
<div class="alert alert-danger" role="alert">
    <div class="pull-right">
        @Html.ActionLink("Yup, delete away", "DeleteConfirm", "Socks", routeValues: new { id = Model.Id }, htmlAttributes: new { id = "deletesock", @class = "btn btn-danger" })
        @Html.ActionLink("No, my bad", "Index", "Socks", null, htmlAttributes: new { id = "canceldeletesock", @class = "btn btn-info" })
    </div>
    <p>Are your sure you want to delete "@Model.Name"? </p>
    <br/>
</div>

<div class="col-xs-offset-2 col-xs-6 col-md-offset-3 col-md-3">
    <div class="thumbnail">
        <a href="#" class="thumbnail">
            <img src="@Model.ImageSrc" alt="@Model.Name" style="width: 260px; height: 180px;">
        </a>
        <div class="caption">
            <h3>@Model.Name</h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>