@model lostsocks.Models.Socks.SockModel[]

@{
    ViewBag.Title = "My Socks";

}

@if (Model.Length == 0)
{

    <div class="jumbotron">
        <h1>Hey you've got no socks!</h1>
        <p>This is a great place to add a little something about the single socks you have in your drawer.</p>
        <p>@Html.ActionLink("Add a Sock", "Add", "Socks", routeValues: null, htmlAttributes: new { id = "addsock", @class = "btn btn-primary" })</p>
    </div>
}
else
{
    <div class="row">
        <h2 class="pull-right">@Html.ActionLink("Add a Sock", "Add", "Socks", routeValues: null, htmlAttributes: new { id = "addsock", @class = "btn btn-primary" })</h2>
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="row">
        @foreach (var sock in Model)
        {
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <a href="#" class="thumbnail">
                        <img src="@sock.ImageSrc" alt="@sock.Name" style="width: 260px; height: 180px;">
                    </a>
                    <div class="caption">
                        <div class="pull-right">
                            <div class="btn-group" role="group" aria-label="sock edit and delete">
                                @Html.ActionLink(" ", "Delete", "Socks", routeValues: new { id = sock.Id }, htmlAttributes: new { id = "deletesock", @class = "btn btn-danger btn-sm glyphicon glyphicon-trash" })
                                @Html.ActionLink(" ", "Edit", "Socks", routeValues: new { id = sock.Id }, htmlAttributes: new { id = "editsock", @class = "btn btn-info btn-sm glyphicon glyphicon-pencil" })
                            </div>
                        </div>
                        <h3>@sock.Name</h3>
                        <hr />
                        <p>@sock.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
}